<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="soap-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Soap
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="soap-link">
                <a href="{% url 'products' %}?category=body" class="dropdown-item">Body</a>
                <a href="{% url 'products' %}?category=exfoliants"  class="dropdown-item">Exfoliants</a>
                <a href="{% url 'products' %}?category=face"  class="dropdown-item">Face</a>
                <a href="{% url 'products' %}?category=body,exfoliants,face"  class="dropdown-item">All Soap</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="hair-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Hair
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="hair-link">
                <a href="{% url 'products' %}?category=baby"  class="dropdown-item">Baby</a>
                <a href="{% url 'products' %}?category=conditioners"  class="dropdown-item">Conditioners</a>
                <a href="{% url 'products' %}?category=baby,conditioners"  class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'contact_us' %}"
                id="contact-link">
                Contact us
            </a>
        </li>
    </ul>
</div>
